<suite name="Sample Suite">
  <test name="testing">
  	<!-- <groups>
      <run>
        <include name="Smoke"/>
      </run>
    </groups> -->
    <classes>
       <!-- <class name="SeleniumWebdriverExample.GroupsExamples" /> -->
       <class name="SeleniumWebdriverExample.AnnotationsTest" />
       
    </classes>
  </test>
</suite>